
@font-face {
  font-family: 'UVNHongHaHepBold';
  src: url('UVNHongHaHepBold.eot?#iefix') format('embedded-opentype'),  url('UVNHongHaHepBold.woff') format('woff'), url('UVNHongHaHepBold.ttf')  format('truetype'), url('UVNHongHaHepBold.svg#UVNHongHaHepBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
